.tul {
    font-weight: bold;
    color: red;
}

.pl {
    font-family:'Courier New', Courier, monospace;
    font-size: 80%;
}

.kiemelt {
    font-style: italic;
    font-weight: bold;
    background-color:yellow;
}

li {
    margin-bottom: 5px;
}

.szint {
	background-color: green;
	color: white;
	font-weight: bold;
	font-family: 'Courier New';
}	

/* példához */

.feladat {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-style: italic;
}

#ellipszis {
    width: 150px;
    height: 90px;
    border-radius: 50%;
    background-color: brown;
    margin: 25px 0 0 25px;
}

#korong {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(209, 209, 74);
    margin: 25px 0 0 25px;
}

#ovalis {
    width: 80px;
    height: 150px;
    border-radius: 40%;
    background-color: lightgreen;
    margin: 25px 0 0 25px;
}
