* { box-sizing: border-box; }

.kulso {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    position: relative;
}

.kulso img {
    width: 100%;
    height: 100%;
}

.valtozo {
    width: 100%;
    height: 0%;
    background-color: green; 
    color: white;
    position: absolute;
    top: 100%;
    left: 0;
    /* a 0 magas elemben lévő szöveg túlcsordul és azt el kell rejteni: */
    overflow: hidden;
    /* ha nem azonnali váltást akarunk: */
    transition-property: height, top; 
    transition-duration: 5s, 5s;
}

.szoveg {
    margin: 0;
    width: 50%;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.kulso:hover .valtozo {
    height: 100%;
    top: 0%;
}