body{
    margin: 0 auto;
    background-color: #3e2b04;
    color: #e0cea6 ;
    width: 70vw;
}
h1{
    text-align: center;
}
table{
    text-align: center;
}
.downwrite{
    font-size: 22px;
    text-align: left;
}
.tableimg{
    width: 80%;
    
}